.reviews {
  border-right: 1px solid #ccc;
  margin-right: 0.5rem;
  margin-right: 1.5rem;
  min-height: 300px;
  h4 {
    font-weight: normal;
    margin-bottom: -0.1rem;
  }
  p {
    font-size: 15px;
    color: #585858;
  }
}
