@import "../../utils/theme.scss";
.dashboard {
  width: 100%;
  a {
    color: $themeColor;
  }

  .breadcrumb {
    width: 100%;
    margin: 3rem 0 0 2rem;
    color: #9b9b9b;
    font-size: 13.5px;
  }

  .pageHeader {
    margin: 0 0 0 0.5rem;
    padding: 0;
    span {
      font-size: 44px;
      font-weight: normal;
      padding: 0;
      margin: 0;
      text-align: left;
    }
  }

  .infoRow {
    margin: 0 0 0 2rem;
    color: #000;
    font-weight: bold;
    min-height: 300px;
  }
}

.label {
  height: 16px;
  width: 148px;
  color: #393939;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  letter-spacing: 0.32px;
  line-height: 16px;
}

.weeklyWrpper {
  height: 288px;
  width: 320px;
  .weekly {
    height: 18px;
    width: 195px;
    color: #161616;
    font-family: "IBM Plex Sans SemiBold";
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 18px;
  }
}
