.label {
  height: 16px;
  width: 148px;
  color: #393939;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  letter-spacing: 0.32px;
  line-height: 16px;
}
.dashboard {
  height: 50px;
  width: 203px;
  color: #161616;
  font-family: "IBM Plex Sans Light";
  font-size: 42px;
  line-height: 50px;
}

.weeklyWrpper {
  height: 288px;
  width: 320px;
  .weekly {
    height: 18px;
    width: 195px;
    color: #161616;
    font-family: "IBM Plex Sans SemiBold";
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 18px;
  }
}
